{% set navpos = "router" %}
{% set RenderScript = "True" %}
{% extends "master.html" %}

{% block body %}
<div class="col-md-12">
<textarea id="textarea_input" class="hide">
### 配置路由

- 顶级路由：位于 app/routes 目录下，不需要单独模块处理的可以放在顶级路由，比如：首页、验证码等
一般情况下，写在这里的路由文件可视为通用路由配置，可以有多个配置文件，支持二级目录

- 模块路由：位于 app/modules/[模块] 目录下，这里只存放与模块相关的路由配置
在 app/modules 各模块下的根目录下新建 router.js 文件 <font color=red>（**文件名为 router.js，不可以修改，不支持目录**）</font>

### 文件配置格式
顶级路由配置，路由文件为 routers.js
```javascript
// routers.js
exports.routers = [
    { prefix: ["/", "/index.html"], ctrl: "base", action: "index" },
    { prefix: "/sendcode", method: ["POST"], ctrl: "base", action: "send_code" },
    { prefix: "/test/:action/:id.html", ctrl: "base", action: "test"},
    { prefix: "/about.html", view: "about"}
];
```

#### 参数说明
- **exports.routers**
exports是nodejs的提供的模块导出对象，点后面的routers是导出的路由对象，名字不能更改且为数组格式，表示可配置多项
- **prefix** <font color='red'>*</font>
prefix 属性用于指定要路由的路径，支持正则表达式和数组定义
    - ["/", "/index.html"] / 表示通过 http://www.domian.com 访问
    - /index.html 表示通过 http://www.domian.com/index.html 访问
    - /test/:action/:id.html
        上面的写法指定了两个动态参数 action 和 id
        当URL 地址为 [/test/abc/1.html](/test/abc/1.html) 时会命中该路由
        在控制器中通过 req.params 获取对应在的参数


- ctrl    指定路由命中后要执行的控制器
- action  指定默认执行的方法，跟 ctrl 控制器中指定的方法名对应
- <font color="gray">[method]  可选，指定命中方法 数组格式 可选值： get, post, put, delete, all，默认值为get</font>
- <font color="gray">[module]  可选，如果指定框架将读取 modules 下的 ctrls，否则读取app/ctrls</font>
- <font color="gray">[view]    可选，当未指定ctrl时，将会直接渲染views/目录下的视图，通常用于显示无逻辑的静态页面</font>

### 多控制器/多action 写法
```js
exports.routers = [
    {
        prefix:"/",
        ctrl:"Controller1",
        method:["GET"],
        action:["one", "two", "three"]
    },
    {
        prefix:"router",
        ctrl:['Controller1', 'Controller2'],
        method:["GET"],
        action:[ "one", ["one", "two"] ]
    }
];
```
第一个配置 项中指定了3个action，分别对应了 Controller1 控制器中 的 one, two, three 方法
**第一个one方法会被最先执行** 剩余的两个方法由one决定是否需要执行，即由one中的next()决定

第二个配置 项中指定了一个数组，包含两个控制器Controller1和Controller2，表示使用多控制器
    **注意** 如果指定为数组， action也必须为数组，且元素位置长度保持一致
    action[0] 元素中指定为字符串，表示执行单个方法，执行Controller1中的one方法
    action[1] 指定为数组，表示执行Controller2控制器里多个方法,原理与上面的多action相同

**DEMO:** [单控制器多Action](../ctrl/multiAction.html?p=one) | [多控制器多Action](../ctrl/multiCtrlAction.html?p=one)

### 过滤器
- 过滤器可以在路由访问前被优先执行，可起到拦截的作用，比如在用户模块，我们需要指定哪些路由需要登录后才可以访问

**在模块中使用过滤器**
```js
// app/modules/user/router.js

//导出一个过滤器
exports.filters = {
    login_required: {
        prefix: "mount",
        handler:  function(req, res, next){
            if(req.session.loginUser == undefined ){
                res.redirect('/user/login.html')
            }else next();
        }
    }
}

//导出路由
exports.routers = [
    {
        prefix:"/my.html",
        ctrl:"UserController",
        action:"UserCenter",
        filter: "login_required"
            //filter 指定使用login_required 过滤方法
    },
    ...
]
```
**参数说明：**
- **exports.filters** 为固定写法，表示导出过滤器，filters 关键字不能修改
- **prefix**: 选值范围有 mount、*
    - mount 挂载模式，需手动在路由配置中指定filter才会生效
    - \* 表示该模块下的所有路由都先进入该过滤，不需要额外指定filter
- **handler**: 指定要执行的函数

**DEMO:** [我的页面](../user/my.html)
如果未登录，则会重定向到 login.html
***

**全局过滤器**
我们顶层路由/app/routes/routes.js（或是任意一个顶级路由文件）下添加一个filter
```js
exports.filters = {
    //定义一个名为 allfilter过滤器
    "allfilter":{
        prefix : "*",
        handler: function(req, res, next){
            console.log('这是全局路由，所有模块下也会生效');
            next();
        }
    }
}
```
这里指定了 prefix 为 \* ，这将会应用于所有路由，当为*的时候不需要在 routers 中指定 filter 属性
如果将prefix改为mount，则需要在routers节点中指定filter属性才可以使用
模块下也可以直接使用挂载全局过滤器

#### 过滤器中的多个控制权
在过滤器中的handler支持多个函数，用数组的方式来书写，可以对过滤的条件更加细分
```JS
let mainCtrl = APP.ctrls.get("MainController");
exports.filters = {
    "testfilter":{
        prefix : "mount",
        handler: [function(req, res, next){
            // 如果 id 为 0, 跳到下一个路由
            if( !req.query.id ){
                res.send('id不能为空');
            }else if( req.query.id == 0  ) {
                res.send('id不能为0');
            }
            //否则将控制权交给栈中下一个中间件
            else next();
        }, mainCtrl.hello]
    }
}
```
这里我们引入了 MainController控制器，为了调用其hello方法


## 参考：
[控制器](/ctrl/index.html)</textarea>{{ super() }}</div>
{% endblock %}
